body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url('src/animal-welfareincludes-pet-animals-like-dogs-and-upscaled.png');
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    background-blur: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .card {
    margin-top: 500px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
  }
  

